<!DOCTYPE html>
<html>
<title>Current Time</title>
<body>

<h1>The time and date </h1>
<%# <p>The date is <%= Date.today.strftime("%A, %B %d, %Y")}%></p>
<% time = Time.new %>
<p>The date is <%= time.strftime("%A, %B %d, %Y") %>.</p>
</body>
</html>